@font-face {
  font-family: "GES";
  src: url("font/HYQiHei-80S.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FZS";
  src: url("font/HYQiHei-60S.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VWHead";
  src: url("font/VWHead-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PPT";
  src: url("./font/华康翩翩体-标准.ttf");
  font-weight: normal;
  font-style: normal;
}

.GES {
  font-family: "GES";
}

.FZS {
  font-family: "FZS";
}

.VWHead {
  font-family: "VWHead";
}

.PPT {
  font-family: "PPT";
}
